@model Domain.ProdutoFinal

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProdutoFinal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="Receitas">
                <label>Nome</label>
                <select asp-items="@ViewBag.Receitas"
                        class="form-control"
                        name="drpReceita">
                    @if (Model.Receita != null)
                    {
                        <option> @Model.Receita.Nome </option>
                    }
                    else
                    {
                        <option> -- SELECIONE -- </option>
                    }
                    <option> -- SELECIONE -- </option>
                </select>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Custo" class="control-label"></label>
                <input asp-for="Custo" class="form-control" />
                <span asp-validation-for="Custo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrazoValidade" class="control-label"></label>
                <input asp-for="PrazoValidade" class="form-control" />
                <span asp-validation-for="PrazoValidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
